build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
node_modules/
dist/
.env
.env.*
coverage/
.idea/
.vscode/
*.iml
*.log
backend/.turbo/
backend/prisma/migrations/
backend/node_modules/
backend/dist/
apps/**/.dart_tool/
apps/**/build/
apps/**/.packages
apps/**/pubspec.lock
